{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_paths') }}">Paths</a>
</h1>

<form method="post" action="{{ url_for('.create_path') }}">
    <legend>New</legend>
    <fieldset>
        <div class="field">
            {{ render_field(form.path, autofocus='autofocus', placeholder=form.path.description) }}
        </div>
    </fieldset>
    <fieldset>
        <div class="field">
            {{ render_field(form.property_id) }}
        </div>
    </fieldset>
    <footer>
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('.list_paths') }}">cancel</a>
    </footer>
</form>
{% endblock %}
