
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>Create Path</h1>
<form method="post" action="{{ url_for('.create_path') }}">
    <fieldset>
        <legend>Create Path</legend>
        <ul>
            {{ render_field(form.path, autofocus='autofocus') }}
            {{ render_field(form.property_id) }}
        </ul>
    </fieldset>
    <fieldset>
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('.paths') }}">cancel</a>
    </fieldset>
</form>
{% endblock %}