{% extends 'template.html' %}
{% block body %}


<h1><a href="{{ url_for('.list_paths') }}">Paths</a></h1>

<div class="card">
    <div class="header table">
        <div class="tr">
            <h2 class="title td">Active</h2>
            <div class="actions td">
                <a class="button" href="{{ url_for('.create_path') }}">new</a>
            </div>
        </div>
    </div>
    <table class="data">
        <tr>
            <th>Path</th>
            <th>Property</th>
            <th>Page</th>
        </tr>
        {% for record in paths %}
        <tr>
            <td><a href="{{ url_for('.read_path', id=record.id) }}">{{record.path}}</a></td>
            <td>{{record.property.property}}</td>
            <td>{{record.pages[0].page}}</td>
        </tr>
        {% endfor %}
    </table>
</div>



{% endblock %}