{% from "macros/forms.html" import render_field, render_hidden_field %} 
{% extends 'template.html' %}
{% block body %}

<h1>
    <a black href="{{ url_for('.list_paths') }}">Paths</a>
</h1>
<h2>
    <a black href="{{ url_for('paths.read_path', id=path.id) }}">{{path.path}}</a>
</h2>
<div class="card">
    <header>
        <h2 class="title">Page Schedule</h2>
        <div class="actions">
            <a tekt-scroller="target=add_page" class="button small"><i class="fa fa-arrow-down"></i> Schedule New Page</a>
        </div>
    </header>
    <div class="content">
        <table class="data">
            <tr>
                <th>#</th>
                <th>page</th>
                <th>effective</th>
                <th>expires</th>
                <th>actions</th>
            </tr>
            {% for page in path.pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td><a href="{{ url_for('pages.read_page', id=page.id) }}">{{ page.page }}</a></td>
                <td>{{page.effective_date_humanized}}</td>
                <td>{{page.expiration_date_humanized}}</td>
                <td><a href="{{ url_for('paths.remove_page', id=path.id, path_page_id=page.path_page_id)}}" tekt-dialog="type=confirm|message=Are you sure you want to remove this page from this path?"> remove</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{{form.errors}}
<form id="add_page" tekt-id="add_page" method="post" action="{{ url_for('paths.page_schedule', id=path.id) }}">
    <legend>Schedule Page</legend>
        {{ render_hidden_field(form.path_id) }}
        {{ render_hidden_field(form.page_id) }}
        <fieldset>
            {{ 
                render_field(form.page_selector, 
                placeholder="Click to select", 
                readonly="readonly", 
                **{'tekt-selector':'page'}) 
            }}
        </fieldset>
        <fieldset>
            {{ 
                render_field(form.effective_date, 
                placeholder="Example: 12/25/2025 5:00pm",
                **{'tekt-mask':'datetime'})
            }}
        </fieldset>
        <fieldset tekt-id="expiration_date_fieldset" class="{% if form.is_persistent.data: %}disabled{% endif %}">
            {% if form.is_persistent.data: %}
                {{ render_field(form.expiration_date, **{'disabled':'disabled'})  }}
            {% else %}
                {{ render_field(form.expiration_date)  }}
            {% endif %}
        </fieldset>
        <fieldset>
            {{ render_field(form.is_persistent, **{'tekt-disable':'expiration_date_fieldset'}) }}
        </fieldset>
    <footer>
        <button type="submit"><i class="fa fa-plus"></i> Schedule</button> 
    </footer>
</form>



{% endblock %}
