
{% from "macros/forms.html" import render_field, render_hidden_field %} 
{% extends 'template.html' %} 

{% block body %}


<div class="table">
    <div class="tr">
        <div class="td"><h1>Path</h1></div>
        <div class="td"><a class="button" href="{{ url_for('.update_path', id=path.id )}}">edit</a></div>
    </div>
</div>

<table>
    <tr>
        <th>Path</th>
        <td>{{ path.path }}</td>
    </tr>
    <tr>
        <th>Property</th>
        <td>{{ path.property.property }}</td>
    </tr>
</table>


<h2>Pages</h2>

<form method="post" action="{{ url_for('.read_path', id=path.id) }}">
<fieldset>
    <legend>Add Page</legend>
    <ul>
    {{ render_field(form.page_id, placeholder="Enter page ID", class="page_selector") }}
    {{ render_hidden_field(form.path_id) }}
    </ul>
</fieldset>
<fieldset>
    <input class="button" type="submit" value="save">
    <a class="button" href="{{ url_for('.list_paths') }}">cancel</a>
</fieldset>
</form>

<table>
    <tr>
        <th>page</th>
        <th>effective date</th>
        <th>expiration date</th>
        <th>actions</th>
    </tr>
    {% for page in path.pages %}
    <tr>
        <td><a href="{{ url_for('pages.read_page', id=page.id) }}">{{ page.page }}</a></td>
        <td></td>
        <td></td>
        <td><a class="button" href="{{ url_for('.remove_page_from_path', id=path.id, path_page_id=page.path_page_id )}}">delete</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}