{% extends 'template.html' %} 

{% block body %}

<h1><a href="{{ url_for('.list_paths') }}">Paths</a></h1>

<div tekt-part="card">
<div tekt-pattern="table" class="header">
    <div class="tr">
        <h2 class="title td">{{ path.path }}</h2>
        <div class="actions td">
            <a tekt-pattern="button" href="{{ url_for('.update_path', id=path.id )}}">settings</a>
        </div>
    </div>
</div>
<div class="body">
<table tekt-pattern="table" class="data">
    <tr>
        <th>ID</th>
        <td>{{path.id}}</td>
    </tr>
    <tr>
        <th>path</th>
        <td>{{path.path}}</td>
    </tr>
    <tr>
        <th>property</th>
        <td>{{path.property.property}}</td>
    </tr>
</table>
</div>
</div>

{% endblock %}
