{% extends 'template.html' %} 

{% block body %}

<h1>
    <a black href="{{ url_for('.list_paths') }}">Paths</a>
</h1>
<h2>
    <a black href="{{ url_for('.read_path', id=path.id) }}">{{path.path}}</a>
</h2>

<div class="card">
<header>
    <h2 class="title">Details</h2>
    <div class="actions">
        <a class="button" href="{{ url_for('.update_path', id=path.id )}}"><i class="fa fa-gear"></i> Edit</a>
    </div>
</header>
<div class="content">
    <table class="data">
        <tr>
            <th>ID</th>
            <td>{{path.id}}</td>
        </tr>
        <tr>
            <th>path</th>
            <td>{{path.path}}</td>
        </tr>
        <tr>
            <th>property</th>
            <td>{{path.property.property}}</td>
        </tr>
    </table>
</div>
</div>
<div class="card">
    <header>
        <h2 class="title">Page Schedule</h2>
        <div class="actions">
            <a class="button" href="{{ url_for('.page_schedule', id=path.id )}}"><i class="fa fa-gear"></i> Edit</a>
        </div>
    </header>
    <div class="content">
        <table class="data">
                <tr>
                    <th>Page</th>
                    <th>Effective</th>
                    <th>Expires</th>
                </tr>
                {% for page in path.pages %}
                <tr>
                    <td><a href="{{ url_for('pages.read_page', id=page.id )}}">{{page.page}}</a></td>
                    <td>{{page.effective_date_humanized}}</td>
                    <td>{{page.expiration_date_humanized}}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
