{% from "macros/forms.html" import render_field, render_hidden_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_paths') }}">Paths</a>
</h1>
<form method="post" action="{{ url_for('paths.update_path', id=path.id) }}">
    {{ path_form.id }}
    <legend>Settings</legend>
    <fieldset>
        <ul class="list">
            {{ render_field(path_form.path, autofocus="autofocus", placeholder="Example: /my/path") }}
        </ul>
    </fieldset>
    <fieldset>
        <ul class="list">
            {{ render_field(path_form.property_id) }}
        </ul>
    </fieldset>
    <footer>
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('paths.read_path', id=path.id) }}">cancel</a>
    </footer>
</form>

<div class="panel text-right">
    <a class="alarm button link" tekt-showhide="delete_form">delete</a>
</div>

<form method="post" tekt-id="delete_form" class="view-hidden" action="{{ url_for('.delete_path', id=path.id) }}">
    <legend>Delete Path</legend>
    <fieldset>
        {{ delete_form.phrase }}
        <div class="field">
            {{ delete_form.confirm(placeholder=path_form.path.data)|safe }}
            <label>{{ delete_form.confirm.description }}</label>
        </div>
    </fieldset>
    <footer>
    <div class="actions">
        <input class="button alarm" type="submit" value="confirm">
    </footer>
</form>
{% endblock %}
