{% from "macros/forms.html" import render_field, render_hidden_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_paths') }}">Paths</a>
</h1>
<form method="post" action="{{ url_for('paths.update_path', id=path.id) }}" class="form card">
    {{ path_form.id }}
    <div class="header">
        <div class="table">
            <div class="tr">
                <legend class="title td">Settings</legend>
            </div>
        </div>
    </div>
    <div class="body">
        <fieldset>
            <ul class="list">
                {{ render_field(path_form.path, autofocus="autofocus", placeholder=path_form.path.description) }}
            </ul>
        </fieldset>
        <fieldset>
            <ul class="list">
                {{ render_field(path_form.property_id) }}
            </ul>
        </fieldset>
    </div>
    <div class="footer">
        <div class="table">
            <div class="tr">
                <div class="actions td">
                    <input class="button" type="submit" value="save">
                    <a class="button" href="{{ url_for('paths.read_path', id=path.id) }}">cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card">
    <div class="header">
        <div class="table">
            <div class="tr">
                <h2 class="title td">Pages</h2>
            </div>
        </div>
    </div>
    <form class="form" id="add_page" method="post" action="{{ url_for('paths.update_path', id=path.id) }}">
        <div class="body">
            <table class="table data">
                <tr>
                    <th>#</th>
                    <th>page</th>
                    <th>actions</th>
                </tr>
                {% for page in path.pages %}
                <tr>
                    <td>{{ page.id }}</td>
                    <td><a black href="{{ url_for('pages.read_page', id=page.id) }}">{{ page.page }}</a>
                    </td>
                    <td><a black href="{{ url_for('paths.remove_page_from_path', id=path.id, path_page_id=page.path_page_id)}}">remove</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <fieldset>
                <ul class="list">
                    {{ render_hidden_field(page_form.path_id) }} {{ render_hidden_field(page_form.page_id) }} {{ render_field(page_form.page_selector, placeholder=page_form.page_selector.description, readonly="readonly", **{'class':'tekt-selector', 'tekt-type':'page', 'tekt-target':'page_id'}) }}
                </ul>
            </fieldset>
        </div>
        <div class="footer">
            <div class="table">
                <div class="tr">
                    <div class="actions td">
                        <input class="button" type="submit" value="Add Page">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div style="margin:50px 0px;">
    <a class="button alarm" href="{{ url_for('.delete_path', id=path.id )}}">delete this path</a>
</div>
{% endblock %}
