//
// body
// 
// . - normal state
// 
// Example:
//  <body></body> 
//
// Styleguide 2.02
// 
body,
.body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    font-size: 10px;
    @extend .font-regular;
    color:$black;
}
