//
// h3
// 
// . - normal state
// 
// Example:
// <h3>Header Three</h3>
//
// Styleguide 2.08
// 
h3, .h3 {
    @extend .font-regular;
    text-transform: uppercase;
    @include rem(font-size,1.5);
    @include rem(line-height,3);
    margin:0;
    padding:0;
}
