@mixin input() {
    width:100%;
    @include rem(font-size, 1.4);
    @include rem(line-height, 3);
    @include rem(margin, 0, 0, 1);
    @include rem(border-radius, 0.3);
    border:1px solid darken($white, 3);
    background-color:lighten($white, 100);
    transition: all 0.5s ease;
    &:focus {
        transition: all 0.5s ease;
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 3px $primary;
    }
}
