//
// legend
// 
// . - normal state
// 
// Example:
// <legend>Legend</legend>
//
// Styleguide 2.15
// 
legend {
    @extend .font-bold;
    @include rem(font-size, 1.8);
    @include rem(line-height, 5);
    @include rem(margin, 0);
    @include rem(text-indent, 1.5);
    border-radius: 5px 5px 0 0;
    border:1px solid darken($white, 10);
    color:lighten($black, 20);
    background-color: lighten($white, 2);
    vertical-align: middle;
    width:100%;
}
