button,
.#{$button}  {
    @include rem(font-size, 1.5);
    @include rem(line-height, 3);
    @include rem(padding, 0, 1.25); 
    @include border-radius(2px); 
    cursor: pointer;
    border:0px solid $primary;
    letter-spacing: 1px;  
    color:$white;
    @include opacity(0.5);
    background-color:transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    &.small {
        @include rem(font-size, 1.2);
    }
    i {
        @include rem(margin-right, 0);
        @include opacity(0.5);
    }
    &:hover,
    .hover {
        transition: all 0.5s ease;
        text-decoration: none;
        background-color: transparent;
        color:$white;
        @include opacity(1);
        i {
            @include opacity(1);
            color:$white;
        }
    }
    
    &.callout {
        background-color: $primary;
        @include opacity(1);
    }
    &.alarm {
        border:1px solid $alarm;
        color:$alarm;
        &.inverse{
            color:$white;
            background-color:$alarm;
            border-bottom-color:$white;
        }
    }
    &.link {
        padding:0;
        border:0;
        @include rem(margin, 0, 1.25);
        text-decoration: none;
    }
}
