button,
.#{$button}  {
    @include rem(font-size, 1.6);
    @include rem(line-height, 3);
    @include rem(padding, 0, 1.25);  
    cursor: pointer;
    border:2px solid $primary;
    letter-spacing: 1px;  
    color:$tertiery;
    background-color:transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    .hover {
        transition: all 0.5s ease;
        text-decoration: none;
        background-color: transparent;
        color:$black;
    }
    i + * {
        @include rem(margin-right, 0.5);
    }
    &.alarm {
        border:1px solid $alarm;
        color:$alarm;
        &.inverse{
            color:$white;
            background-color:$alarm;
            border-bottom-color:$white;
        }
    }
    &.link {
        padding:0;
        border:0;
        @include rem(margin, 0, 1.25);
        text-decoration: none;
    }
}
