.#{$card} {
    width:100%;
    @include rem(padding, 0);
    &:hover {
        -webkit-box-shadow: 0px 20px 25px -30px $black;
        -moz-box-shadow: 0px 20px 25px -30px $black;
        box-shadow: 0px 20px 25px -30px $black;
        transition: all 1s ease;
    }
    > header {
        display: table;
        width:100%;
        @include rem(line-height, 5);
        @include rem(font-size, 1.8);
        color:lighten($black, 20);
        vertical-align: middle;
        > * {
            display:table-cell;
            border-bottom:5px solid $secondary;
        }
        .title {
            @include rem(text-indent, 2);
            @include rem(line-height, 5);
            margin:0;
            padding:0;
        }
        .actions {
            text-align: right;
            @include rem(padding, 0, 2, 0);
        }
        &.borderless {
            border:0px;
            > * {
                border:0px;
            }
        }
    }
    > .content {
        border-left:1px solid darken($white, 10);
        border-right:1px solid darken($white, 10);
        background-color:lighten($white, 1);
        width:100%;
    }
    > .drawer {
        @include rem(padding, 1);
        border-left:1px solid darken($white, 10);
        border-right:1px solid darken($white, 10);
        background-color:lighten($white, 1);
    }
    > footer {
        @include rem(font-size, 1.8);
        @include rem(line-height, 5);
        @include rem(margin-top, 0);
        @include rem(padding, 1);
        border-bottom:1px solid darken($white, 10);
        border-left:1px solid darken($white, 10);
        border-right:1px solid darken($white, 10);
        color:lighten($black, 20);
        display:table;
        width:100%;
        vertical-align: middle;
        > * {
            display: table-cell;
        }
        &.actions {
            @include rem(padding, 0, 0.5);
            text-align: right;
        }
    }
}

.#{$card} + .#{$card},
.#{$card} + form,
.#{$card} + .form {
    @include rem(margin, 2, 0);
}
