@mixin input() {
    width:100%;
    @include rem(font-size, 1.4);
    @include rem(line-height, 3);
    @include rem(margin, 0, 0, 1);
    @include rem(border-radius, 0.3);
    color:$white;
    background-color: desaturate(lighten($black, 3), 5);
    border:1px solid desaturate(lighten($black, 10), 5);
    transition: all 0.5s ease;
    &:focus {
        transition: all 0.5s ease;
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 3px $primary;
    }
    &::-webkit-input-placeholder {
       color: lighten($black, 20);
       @include rem(font-size, 1.2);
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: lighten($black, 20);
       @include rem(font-size, 1.2);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: lighten($black, 20);
       @include rem(font-size, 1.2);  
    }

    &:-ms-input-placeholder {  
       color: lighten($black, 20);
       @include rem(font-size, 1.2);
    }
}

form,
.#{form} {
    opacity:0;
    > legend {
        @include rem(border-radius, .3, .3, 0, 0);
        @include rem(font-size, 1.8);
        @include rem(line-height, 5);
        @include rem(margin, 0);
        @include rem(text-indent, 1.5);
        background-color: $primary;
        color:$white;
        display: table;
        display:block;
        vertical-align: middle;
        width:100%;
        &.nobg {
            background-color:transparent;
        }
    }
    > fieldset {
        @include rem(padding, 2);
        background-color:desaturate(lighten($black, 5), 5);
        border:0;
        border-bottom:0;
        display:block;
        margin: 0;

        label {
            @include rem(font-size, 1.6);
            color:$white;
            display:block;

            > .hint {
                color:darken($white, 50);
                @include rem(font-size, 1.3);

                > .praise {
                    color:darken($white, 30);
                }
            }
        }

        label + p {
            @include rem(font-size, 1.4);
            @include rem(margin, 1, 0);
            @include rem(line-height, 2);
            color:$white;
            @include opacity(0.25);
        }

        .help {
            float:right;
            color:darken($white, 20);
            @include rem(margin-bottom, 1);
            @include rem(font-size, 1.2);
            &.errors {
                color:$alarm;
            }
        }

        .field {
            &.errors {
                > input, select {
                    border:1px solid $alarm;
                    &:focus {
                        border:1px solid $alarm;
                        box-shadow: 0 0 3px $alarm;
                    }
                }
            }
        }

        .input-type-text,
        input[type="text"],
        input[type="datetime"] {
            @include input;
            @include rem(padding, 0, 1);
        }

        /*** custom checkboxes ***/

        input[type=checkbox] { display:none; } /* to hide the checkbox itself */
        input[type=checkbox] + label:before {
          font-family: FontAwesome;
          display: inline-block;
          @include rem(font-size, 2);
          color: desaturate(lighten($black, 20), 5);
          cursor:pointer;
        }

        input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
        input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

        input[type=checkbox]:checked + label:before { content: "\f046"; color:$white; } /* checked icon */
        input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

        .select,
        select {
            @include input;
            @include rem(padding, 0, 1);
            @include rem(height, 4);
        }

    }

    > fieldset + fieldset {
        padding-top:0;
    }
    
    > footer {
        background-color:desaturate(lighten($black, 3), 5);
        margin: 0;
        padding: 0;
        display:block;
    }

    &.mini {
        display:table;
        width:100%;
        background-color:desaturate(lighten($black, 2), 2);
        fieldset {
            display:table-row;
            margin:0;
            padding:0;
            background-color:transparent;
        }
        .field {
            @include rem(margin-right, 1);
            @include rem(padding, 1.5);
            display:table-cell;
        }
    }

}

form + form,
form + .#{$card},
.form + .#{$card} {
    @include rem(margin, 2, 0);
}
