@mixin input() {
    width:100%;
    @include rem(font-size, 1.4);
    @include rem(line-height, 3);
    @include rem(margin, 0, 0, 1);
    @include rem(border-radius, 0.3);
    border:1px solid darken($white, 3);
    background-color:lighten($white, 100);
    transition: all 0.5s ease;
    &:focus {
        transition: all 0.5s ease;
        outline: none;
        border-color: $primary;
        box-shadow: 0 0 3px $primary;
    }
}

form,
.#{form} {
    > legend {
        @extend .text-bold;
        @include rem(font-size, 1.8);
        @include rem(line-height, 5);
        @include rem(margin, 0);
        @include rem(text-indent, 1.5);
        background-color: lighten($white, 2);
        border-radius: 5px 5px 0 0;
        border:1px solid darken($white, 10);
        color:lighten($black, 20);
        display:block;
        vertical-align: middle;
        width:100%;
    }
    > fieldset {
        @include rem(padding, 2);
        background-color: lighten($white, 3);
        border-left:1px solid darken($white, 10);
        border-right:1px solid darken($white, 10);
        border-top:0;
        border-bottom:0;
        display:block;
        margin: 0;

        label {
            @include rem(font-size, 1.6);
            color: darken($white, 50);
        }

        label + p {
            @include rem(font-size, 1.4);
            @include rem(margin, 1, 0);
            @include rem(line-height, 2);
            color: darken($white, 20);
        }

        .help {
            float:right;
            color:darken($white, 20);
            @include rem(font-size, 1.2);
            &.errors {
                color:$alarm;
            }
        }

        .field {
            &.errors {
                > input, select {
                    border:1px solid $alarm;
                    &:focus {
                        border:1px solid $alarm;
                        box-shadow: 0 0 3px $alarm;
                    }
                }
            }
        }

        .input-type-text,
        input[type="text"] {
            @include input;
            @include rem(padding, 0, 1);
        }

        .select,
        select {
            @include input;
            @include rem(padding, 0, 1);
            @include rem(height, 4);
        }

    }

    > fieldset + fieldset {
        padding-top:0;
    }
    
    > footer {
        @include rem(padding, 2);
        background-color: lighten($white, 3);
        border-bottom:1px solid darken($white, 10);
        border-left:1px solid darken($white, 10);
        border-radius: 0 0 5px 5px;
        border-right:1px solid darken($white, 10);
        margin: 0;
        display:block;
    }

    &.mini {
        display:table;
        width:100%;
        fieldset {
            display:table-row;
            margin:0;
            padding:0;
            background-color:transparent;
        }
        .field {
            @include rem(margin-right, 1);
            @include rem(padding, 1.5);
            display:table-cell;
        }
    }

}

form + form,
form + .#{$card},
.form + .#{$card} {
    @include rem(margin, 2, 0);
}
