//
// Headings
// 
// . - normal
// 
// Example:
// <h1>Header One</h1>
// <h2>Header Two</h2>
// <h3>Header Three</h3>
// <h4>Header Four</h4>
//
// Styleguide 1.04
// 
h1, .h1 {
    @extend .font-bold;
    @include rem(font-size, 3.5);
    @include rem(line-height, 3.5);
    @include rem(margin, 0, 0, 2, 0);
    padding:0;
    text-align: left;
}

h2, .h2 {
    @extend .font-bold;
    @include rem(font-size, 2);
    @include rem(line-height, 3);
    @include rem(margin, 0, 0, 2);
    color:lighten($secondary, 20);
    padding:0;
    text-align: left;
}

h3, .h3 {
    @extend .font-regular;
    text-transform: uppercase;
    @include rem(font-size,1.5);
    @include rem(line-height,3);
    margin:0;
    padding:0;
}

h4, .h4 {
    @extend .font-regular;
    @include rem(font-size,2);
    @include rem(line-height,3);
    margin:0;
    padding:0;
}


