h1, .h1 {
    @extend .text-bold;
    @include rem(font-size, 3.5);
    @include rem(line-height, 3.5);
    @include rem(margin, 0, 0, 2, 0);
    padding:0;
    text-align: left;
}

h2, .h2 {
    @extend .text-bold;
    @include rem(font-size, 2);
    @include rem(line-height, 3);
    @include rem(margin, 0, 0, 2);
    color:lighten($secondary, 20);
    padding:0;
    text-align: left;
}

h3, .h3 {
    @extend .text-normal;
    text-transform: uppercase;
    @include rem(font-size,1.5);
    @include rem(line-height,3);
    margin:0;
    padding:0;
}

h4, .h4 {
    @extend .text-normal;
    @include rem(font-size,2);
    @include rem(line-height,3);
    margin:0;
    padding:0;
}


