.layout-main {
    height: 100%;
    margin: 0;
    padding: 0;
    > .tr > .td:first-child {
        background-color: $black;
        width:200px;
        min-width: 200px;
        transition: all 1s ease;
        &.collapsed {
            min-width: 50px;
            width:50px;
            .td:nth-child(odd) {
                text-indent: -150px;
            }
        }
    }
}


