.list {
    @extend .ul;
    li:nth-child(even){
        background-color: lighten($white,1);
    }
    li a {
        display: block;
        text-decoration: none;
        @include rem(line-height, 4);
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: lighten($black, 80);
        @include rem(text-indent, 2);
        cursor: pointer;
    }
}
