//
// Lists
// 
// .        - normative state
// .errors  - error state
// 
// Example:
// <ul class="$modifier_class">
//     <li>item 1</li>
//     <li>item 2</li>
//     <li>item 3</li>
// </ul>
//
// Styleguide 2.20
// 
ul, 
.ul {
    list-style: none;
    margin:0;
    padding:0;
    border-bottom:0;
    &.errors {
        color: $alarm;
    }
    &.pick {
        @extend .ul;
        li:nth-child(even){
            background-color: lighten($white,1);
        }
        li a {
            display: block;
            text-decoration: none;
            @include rem(line-height, 4);
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: lighten($black, 80);
            @include rem(text-indent, 2);
            cursor: pointer;
        }
    }
}
