ul, 
.ul {
    list-style: none;
    margin:0;
    padding:0;
    border-bottom:0;
    li {
        @include rem(line-height, 2.5);
    }
    &.errors {
        color: $alarm;
    }
    &.data {
        li {
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: $black;
        }
    }
    &.pick {
        @extend .ul;
        li:nth-child(even){
            background-color:desaturate(lighten($black, 2), 0);
        }
        li a {
            display: block;
            text-decoration: none;
            @include rem(line-height, 4);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-bottom-color: $black;
            @include rem(text-indent, 2);
            cursor: pointer;
        }
    }
}
