.message {
    z-index: 99;
    background-color: $inform;
    color: $white;
    @include rem(padding, 3);
    @include rem(font-size, 2);
    &.inform{
        background-color: $inform;
    }
    &.praise{
        background-color: $praise;
    }
    &.alarm{
        background-color: $alarm;
    }
    &.warn{
        background-color: $warn;
    }
}
