* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $black;
    font-size: 10px;
    @extend .text-normal;
    color:$black;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $black;
    font-size: 10px;
    @extend .text-normal;
    color:$black;
}

// All pages are wrapped in this class to allow normalization of font size against the 10px base
.body {
    @include rem(font-size, 1.4);
    height:100%;
}

iframe, .iframe {
    border:0;
    width:100%;
    height:100%;
    overflow-x: hidden;
}

pre {
    white-space: pre-wrap;
}


/* Let's get this party started */
::-webkit-scrollbar {
    @include rem(width, 1);
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: $black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten($black, 6); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: $black; 
}
