* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    font-size: 10px;
    @extend .text-normal;
    color:$black;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
    font-size: 10px;
    @extend .text-normal;
    color:$black;
}

iframe, .iframe {
    border:0;
    width:100%;
    height:100%;
    overflow-x: hidden;
}

pre {
    white-space: pre-wrap;
}

