table,
.table { 
    display : table;
    width: 100%;
    border-collapse:collapse;
    color:desaturate(lighten($black, 40), 10);
    @include rem(font-size, 1.4);
    thead, .thead       { display : table-header-group; }
    tbody, .tbody       { display : table-row-group; }
    tfoot, .tfoot       { display : table-footer-group; }
    col, .col           { display : table-column; }
    colgroup, .colgroup { display : table-column-group; }
    caption, .caption   { display : table-caption; }

    tr, .tr { 
        display : table-row;
        td, th {
            @include rem(line-height, 4);
            @include rem(padding, 0, 2);
            border-right:1px solid $black;
            background-color:desaturate(lighten($black, 5), 5);
            display : table-cell; 
            overflow: hidden;  
            text-align: left;
            text-overflow: ellipsis;
            vertical-align:top; 
            white-space: nowrap;
        }
        th {
            background-color:desaturate(lighten($black, 3), 5);
            color:desaturate(lighten($black, 30), 5);
            text-align: left;
        }
        &:nth-child(even) td{
            background-color:desaturate(lighten($black, 7), 5);
        }
        &:nth-child(even) th{
            background-color:desaturate(lighten($black, 5), 5);
        }
    }
}
