//
// Tables
// 
// .      - normative state
// 
// Example:
 // <table>
 //     <tr>
 //         <th>ID</th>
 //         <th>First Name</th>
 //         <th>Last Name</th>
 //     </tr>
 //     <tr>
 //         <td>1</th>
 //         <td>Ronald</th>
 //         <td>McDonald</td>
 //     </tr>
 // </table>
//
// Styleguide 2.19

table,
.table { 
    display : table;
    width: 100%;
    @include rem(font-size, 1.4);
    thead, .thead       { display : table-header-group; }
    tbody, .tbody       { display : table-row-group; }
    tfoot, .tfoot       { display : table-footer-group; }
    col, .col           { display : table-column; }
    colgroup, .colgroup { display : table-column-group; }
    caption, .caption   { display : table-caption; }

    tr, .tr { 
        display : table-row;
        td, th {
            @include rem(line-height, 4);
            @include rem(padding, 0, 2);
            border-bottom:1px solid darken($white, 5);
            display : table-cell; 
            overflow: hidden;  
            text-align: left;
            text-overflow: ellipsis;
            vertical-align:top; 
            white-space: nowrap;
        }
        th {
            background-color: darken($white, 2);
            text-align: left;
        }
        &:nth-child(even) td{
            background-color: lighten($white,1);
        }
        &:nth-child(even) th{
            background-color: $white;
        }
    }
}
