//
// Text
// 
// . - normative state
// 
// Example:
// <p>
//  <strong>This is strong text</strong>
// </p>
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
// <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
//
// Styleguide 2.16
// 


$font_main: 'Helvetica Neue', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', 'Trebuchet MS', Arial, sans-serif;

.font-regular { 
    font-family: $font_main; 
    font-weight:normal; 
}

.font-bold { 
    font-family: $font_main; 
    font-weight:bold; 
}

.subdue {
    opacity:0.4;
}

p, 
.p {
    @include rem(font-size, 1.5);
    @include rem(line-height, 2.5);
    margin:0;
    padding:0;
    color:darken($white, 50);
    word-break: break-word;
    white-space: word-break;
}

p + p, 
.p + .p {
    @include rem(margin, 2, 0, 0);
}

strong, 
.strong {
    font-weight:bold;
}
