$font_main: 'Helvetica Neue', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', 'Trebuchet MS', Arial, sans-serif;

* {
    letter-spacing: 0.5px;
}

.text-normal { 
    font-family: $font_main; 
    font-weight:normal; 
}

.text-bold { 
    font-family: $font_main; 
    font-weight:bold; 
}

.text-subdue {
    opacity:0.4;
}

.text-right {
    text-align: right;
}

.text-middle {
    text-align: middle;
}

p, 
.p {
    @include rem(font-size, 1.5);
    @include rem(line-height, 2.5);
    margin:0;
    padding:0;
    color:darken($white, 50);
    word-break: break-word;
    white-space: word-break;
}

p + p, 
.p + .p {
    @include rem(margin, 2, 0, 0);
}

strong, 
.strong {
    font-weight:bold;
}
