.#{logo} {
    @include rem(font-size, 3);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    text-shadow:0 0 2px $black;
    @include blur(2px);
    &.large{
        @include rem(font-size, 10);
        text-shadow:0 0 4px $black;
        @include blur(5px);
    }
    &:hover {
        border:0;
        text-decoration: none;
        @include blur(0);
        color:$primary;
    }
}
