.#{menu} {
    @include rem(border-radius, 0.3);
    padding:0;
    text-align: right;

    @include mq(mobile){
        display:block;
        width:100%;
    }

    @include mq(mobile-landscape){
        display:table;
        width:200px;
    }
    
    .item {
        @include mq(mobile){ display:block; }
        @include mq(mobile-landscape){ display:table-row; }
        @include rem(font-size, 1.2);
        color:desaturate(lighten($black, 40), 10);
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        visibility: visible;
        height: auto;
        span {
            @include mq(mobile-landscape){ display:table-cell; }
            @include mq(mobile){ display:inline-block; }
            vertical-align: middle;
            background:transparent;
            line-height: 40px;
        }
        .text {
            text-indent: 0px;
        }
        .icon {
            width:50px;
            text-align: center;
            @include rem(font-size, 1.8);
        }
        &:hover  {
            color:$white;
        }
        &.current {
            color:$white;
            background-color:desaturate(lighten($black, 8), 8);
            .icon {
                color:$secondary;
                border-right:5px solid $primary;
            }
        }
    }
}
