// prevent scrolling on body when modal is showing
.#{$modal} {

    position: fixed;
    z-index: 1001;
    top:0;
    left:0;
    header {
        background-color: $primary;
        @include rem(line-height, 5);
        @include rem(font-size, 2);
        .title {
            @include rem(text-indent, 2);
            margin:0;
            padding:0;
            color:$white;
        }
        .actions {
            text-align: right;
            @include rem(padding-right, 0.5);
        }
    }
    .content {
        height:100%;
        background-color: $black;
        color:white;
        vertical-align: middle;
    }
    @include mq(mobile){
        width: 100%;
        height:100%;
    }
    @include mq(tablet){
        width: 500px;
        height:500px;
        border:10px solid $white;
    }
    background-color:$white;

}

.#{$modal}-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:$black;
    opacity:.75;
    z-index: 1000;
}

.#{$modal}-body {
    overflow: hidden;
}
