.#{scroll-to-top} {
    transition: all 0.25s ease;
    @include rem(bottom, -3);
    @include rem(font-size, 1.2);
    @include rem(padding, 0, 1.4);
    @include rem(line-height, 3);
    @include rem(right, 0);
    text-align: right;
    width:100%;
    visibility: hidden;
    background-color: $white;
    border:1px solid darken($white, 10);
    opacity:.6;
    position:fixed;
    z-index: 100;
    &:hover {
        opacity: 1;
    }
    &.fixate {
        transition: all 0.25s ease;
        display:inline-block;
        @include rem(bottom, 0);
        visibility: visible;
    }
}
