.#{template} {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    @include mq(mobile) { display: block; }
    @include mq(mobile-landscape) { display: table; }
    .regions {
        @include mq(mobile) { display: block; }
        @include mq(mobile-landscape) { display: table-row; }
        &.header {
            @include rem(height, 5);
            background-color:desaturate(lighten($black, 5), 5);
            .region {
                vertical-align: middle;
            }
            .logo {
                text-align: center;
            }
            .quick_menu {
                text-align: right;
                @include rem(padding, 0, 2);
            }
        }
        .region {
            @include mq(mobile) { display: block; }
            @include mq(mobile-landscape) { display: table-cell; }
            vertical-align: top;
        }
        .left {
            background-color:desaturate(lighten($black, 5), 5);
            @include mq(mobile){ width:100%; }
            @include mq(mobile-landscape){ 
                transition: all 0.25s ease;
                width:200px; min-width: 200px; 
            }
            &.collapsed {
                transition: all 0.25s ease;
                @include mq(mobile-landscape){
                    min-width: 50px;
                    width:50px;
                }
            }
        }
    }

    .page {
        > header {
            background-color: lighten($black, 5);
            @include rem(padding, 3);
        }
    }

}
