button, .button {
    @include rem(font-size, 1.6);
    @include rem(line-height, 4);
    @include rem(padding, 0, 1.25);  
    letter-spacing: 1px;  
    color:$blue;
    border:0;
    background-color:transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        transition: all 0.5s ease;
        text-decoration: none;
        background-color: transparent;
        box-shadow: 0px 1px 2px lighten($black, 30);
        color:$black;
    }
    i {
        @include rem(margin-right, 0.5);
    }
}