.btn {
    @include rem(border-bottom, 0.4);
    @include rem(border-radius,0.4);
    @include rem(font-size,1.6);
    @include rem(line-height,4);
    @include rem(padding,0,1.5);
    border-bottom-style:solid;
    display: inline-block;
    @extend .font-bold;
    text-decoration: none;
    background-color: $primary;
    border-bottom-color:darken($primary,5%);
    color: $white;

    &:hover {
        background-color:lighten($primary,5%);
        transition: background-color 0.5s ease;    
    }

    &.cta {
        background-color: $primary;
        border-bottom-color:darken($primary,8%);
        color: $white;

        &:hover {
            background-color:lighten($primary,5%);
            transition: background-color 0.5s ease;    
        }
    }

    &.large {
        @include rem(font-size,2);
        @include rem(line-height,5);
        @include rem(padding,0,2);
    }
}

