input[type="button"],
input[type="submit"],
button, 
.button {

    @include mq(mobile) {
        font-size:1rem;
        text-decoration: none;
        background-color: $black;
        color:$white;
        padding:0.5rem 2rem;
        border-radius: 4px;
        display: inline-block;
    };

}