.card {
    @include rem(padding, 0);
    background-color:$white;
    border-top:5px solid darken($white, 5);
    border-bottom:5px solid darken($white, 5);
    border-right:1px solid darken($white, 5);
    border-left:1px solid darken($white, 5);
    .header {
        border-bottom:1px solid darken($white, 5);
        background-color: lighten($white, 3);
        @include rem(line-height, 5);
        @include rem(font-size, 1.8);
        color:lighten($black, 20);
        vertical-align: middle;
        .title {
            @include rem(text-indent, 2);
            @include rem(line-height, 5);
            margin:0;
            padding:0;
        }
        .actions {
            text-align: right;
            @include rem(padding, 0, 0.5);
        }
    }
    .body {
        @include rem(margin, 0, 3);
    }
    .footer {
        background-color: lighten($white, 3);
        border-top:1px solid darken($white, 5);
        @include rem(margin-top, 3);
        @include rem(line-height, 5);
        @include rem(font-size, 1.8);
        color:lighten($black, 20);
        vertical-align: middle;
        .actions {
            @include rem(padding, 0, 0.5);
        }
    }
}

.card + .card {
    @include rem(margin, 2, 0);
}