// Color Scheme

$primary:#0077AA;

/* Neutrals */
$white:#F4F4F4;
$black:#222222;

/* Messenger */
$inform:lighten($primary, 10);
$praise:#33AA33;
$alarm:#DD5555;
$warn:#BBBB22;

/* Helpers */
$color-error-text: #FF0000;

