// Color Scheme

$primary:#46E0DE;
$secondary:desaturate(adjust-hue($primary, 40deg), 40%);
$accent:complement($primary);
$white:#FCFCFC;
$black:#222222;
$neutral:grayscale($primary);
$error: #ff8888;