[tekt-pattern="form"] {
    legend {
        @include rem(margin, 0, 0, 2);
        @extend .font-bold;
    }
    fieldset {
        border: 0;
        margin: 0;
        @include rem(padding, 2);
    }
    fieldset + fieldset {
        @include rem(padding, 0, 2, 2);
    }
    label {
        @include rem(font-size, 1.6);
        color: lighten($black, 50);
    }
    label + p {
        @include rem(font-size, 1.4);
        margin:0;
    }
    input[type="text"],
    select {
        width:100%;
        @include rem(line-height, 3);
        @include rem(text-indent, 1);
        @include rem(margin, 0, 0, 1);
        @include rem(border-radius, 0.3);
        border:1px solid darken($white, 3);
        background-color:lighten($white, 100);
        transition: all 0.5s ease;
        -webkit-appearance: none;
        &:focus {
            transition: all 0.5s ease;
            outline: none;
            border-color: $primary;
            box-shadow: 0 0 3px $primary;
        }
    }
    select {
        @include rem(height, 4);
    }
    .errors {
        input[type="text"],
        select {
            transition: all 0.5s ease;
            border:1px solid $alarm;
            &:focus {
                box-shadow: 0 0 3px $alarm;
            }
        }
    }
    ul.errors {
        @include rem(margin-top, 0);
        color:$alarm;
        float:right;
    }
    div.errors {
        @include rem(margin-bottom, 1);
        color:$alarm;
    }
}

[tekt-selector] {
    cursor: pointer;
}

[tekt-selector-iframe] {
    width:100%;
    height: 100%;
    background: $white;
    position: fixed;
    z-index: 1000;
}
