form {
    legend {
        @include rem(margin, 0, 0, 2);
        @extend .font-bold;
    }
    fieldset {
        border: 0;
        margin: 0;
        @include rem(padding, 2, 0, 0);
    }
    label {
        @include rem(font-size, 1.6);
    }
    label + p {
        @include rem(font-size, 1.4);
        margin:0;
    }
    input[type="text"],
    select {
        width:100%;
        @include rem(line-height, 3);
        @include rem(text-indent, 1);
        @include rem(margin, 1, 0, 0);
    }
    ul.errors {
        @include rem(margin-top, 1);
        color:#FF0000;
    }
    div.errors {
        @include rem(margin-bottom, 1);
        color:#FF0000;
    }
}