form {
    legend {
        @include rem(margin, 0, 0, 2);
        @extend .font-bold;
    }
    fieldset {
        border: 0;
        margin: 0;
        @include rem(padding, 4, 0);
    }
    fieldset + fieldset {
        @include rem(padding, 0, 0, 2);
    }
    label {
        @include rem(font-size, 1.6);
    }
    label + p {
        @include rem(font-size, 1.4);
        margin:0;
    }
    input[type="text"],
    select {
        width:100%;
        @include rem(line-height, 3);
        @include rem(text-indent, 1);
        @include rem(margin, 0, 0, 1);
        border-top:0;
        border-left:0;
        border-right:0;
        border-bottom:5px solid darken($white, 20);
        background-color:transparent;
        transition: all 0.5s ease;
        -webkit-appearance: none;
        &:focus {
            transition: all 0.5s ease;
            outline: none;
            border-bottom:5px solid $black;
        }
    }
    select {
        @include rem(height, 4);
    }
    .errors {
        input[type="text"],
        select {
            transition: all 0.5s ease;
            border-bottom:5px solid #FF0000;
        }
    }
    ul.errors {
        @include rem(margin-top, 0);
        color:#FF0000;
        float:right;
    }
    div.errors {
        @include rem(margin-bottom, 1);
        color:#FF0000;
    }
}

[ark-selector] {
    cursor: pointer;
}

[ark-selector-iframe] {
    width:100%;
    height: 100%;
    background: $white;
    position: fixed;
    z-index: 1000;
}