html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $white;
}

#layout {
    height: 100%;
    margin: 0;
    padding: 0;
}

#body {
    padding: 40px;
}

#top {
    position:fixed;
    background-color: $white;
    border:1px solid darken($white, 10);
    @include rem(border-radius, 1, 0, 0, 0);
    display: none;
    opacity:.6;
    @include rem(padding, 0.8, 1.4);
    @include rem(font-size, 1.2);
    @include rem(right, 0);
    @include rem(bottom, 0);
    &:hover {
        opacity: 1;
    }
}