// Color Scheme
$blue:#00c3d9;
$blue_dark:#00a8b9;
$blue_light:#bee0e5;
$gray:#373737;
$gray_dark:#2c2c2c;
$gray_light: #d9e6e6;
$orange:#FF6e19;
$white: #f4f4f4;

// Device Widths
$mobile-width           : 450px;
$mobile-landscape-width : 700px;
$tablet-width           : 1024px;
$desktop-width          : 1200px;

