{% macro render_field(field, show_label=True, show_description=False) %}
  <li {% if field.errors %}class="errors" {% endif %}>
  {{ field(**kwargs)|safe }}
  {% if show_label %}
  {{ field.label }}
  {% endif %}
  {% if field.errors %}
    <ul class="list errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if show_description %}
  <p class="tekt-p">{{ field.description }}</p>
  {% endif %}
  </li>
{% endmacro %}

{% macro render_hidden_field(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}
