{% macro render_field(field, show_description=False) %}
  <li>
  <label for="{{ field.name }}">{{ field.label }}</label>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {{ field(**kwargs)|safe }}
  {% if show_description %}
  <p>{{ field.description }}</p>
  {% endif %}
  </li>
{% endmacro %}

{% macro render_hidden_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class="errors hidden">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}