{% extends "template.html" %}

{% block body %}
<div id="properties_list">
    <h1>Properties</h1>
    <a href="{{ url_for('.properties_create') }}">create</a>
    <table>
        <tr>
            <th>Property</th>
            <th>Actions</th>
        </tr>
        {% for record in records %}
        <tr>
            <td><a href="{{ url_for('.properties_read', id=record.id) }}">{{ record.property }}</a></td>
            <td>
                <a href="{{ url_for('.properties_update', id=record.id) }}">edit</a>
                <a href="{{ url_for('.properties_delete', id=record.id) }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}