
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_properties') }}">Properties</a>
</h1>


<form class="form" method="post" action="{{ url_for('.create_property') }}">
    <legend>New</legend>
        <fieldset>
            {{ render_field(form.property, autofocus='autofocus', placeholder="Example: my.website.com") }}
        </fieldset>
    <footer>
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('.list_properties') }}">cancel</a>
    </footer>
</form>
</div>

{% endblock %}
