
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1><a href="{{ url_for('.list_properties') }}">Properties</a></h1>

<div class="card">
    <div class="header table">
        <div class="tr">
            <h2 class="title td">New</h2>
        </div>
    </div>
    <form method="post" action="{{ url_for('.create_property') }}">
    <div class="body">
        <fieldset>
            <ul>
                {{ render_field(form.property, autofocus='autofocus', placeholder=form.property.description) }}
            </ul>
        </fieldset>
    </div>
    <div class="footer table">
        <div class="tr">
            <div class="actions td">
                <input class="button" type="submit" value="save">
                <a class="button" href="{{ url_for('.list_properties') }}">cancel</a>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock %}
