{% extends 'template.html' %} 
{% block body %}

<h1>
    <a black href="{{ url_for('.list_properties') }}">Properties</a>
</h1>

<div class="card">
    <header>
        <h2 class="title">{{properties|length}} of {{metadata.total_records}}</h2>
        <div class="actions">
            <a class="button" href="{{ url_for('.create_property') }}">new</a>
        </div>
    </header>
    <div class="content">
        <table class="data">
            <tr>
                <th>#</th>
                <th>property</th>
                <th>paths</th>
                <th>pages</th>
            </tr>
            {% for record in properties %}
            <tr>
                <td>{{record.id}}</td>
                <td><a black href="{{ url_for('.read_property', id=record.id) }}">{{record.property}}</a>
                </td>
                <td>{{record.stats.total_paths}}</td>
                <td>{{record.stats.total_pages}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
