{% extends 'template.html' %} {% block body %}

<h1><a href="{{ url_for('.list_properties') }}">Properties</a></h1>

<div class="card">
    <div class="header table">
        <div class="tr">
            <h2 class="title td">{{properties|length}} of {{metadata.total_records}}</h2>
            <div class="actions td">
                <a class="button" href="{{ url_for('.create_property') }}">new</a>
            </div>
        </div>
    </div>
    <table class="data">
        <tr>
            <th>#</th>
            <th>property</th>
            <th>paths</th>
            <th>pages</th>
            <th></th>
        </tr>
        {% for record in properties %}
        <tr>
            <td>{{record.id}}</td>
            <td><a href="{{ url_for('.read_property', id=record.id) }}">{{record.property}}</a></td>
            <td>{{record.stats.total_paths}}</td>
            <td>{{record.stats.total_pages}}</td>
            <td><a href="{{ url_for('.update_property', id=record.id) }}">settings</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
