
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}

<h1><a href="{{ url_for('.list_properties') }}">Properties</a></h1>

<div class="card">
<div class="header table">
    <div class="tr">
        <h2 class="title td">{{ property.property }}</h2>
        <div class="actions td">
            <a class="button" href="{{ url_for('.update_property', id=property.id )}}">settings</a>
        </div>
    </div>
</div>
<div class="body">
    <table class="data">
        <tr>
            <th>ID</th>
            <td>{{property.id}}</td>
        </tr>
        <tr>
            <th>property</th>
            <td>{{ property.property }}</td>
        </tr>
        <tr>
            <th>paths</th>
            <td>{{ property.stats.total_paths }}</td>
        </tr>
        <tr>
            <th>pages</th>
            <td>{{ property.stats.total_pages }}</td>
        </tr>
    </table>
</div>
</div>

<div style="margin:50px 0px;">
<a class="button alarm" href="{{ url_for('.delete_property', id=property.id )}}">delete this property</a>
</div> 

{% endblock %}
