
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a class="tekt-a" href="{{ url_for('.list_properties') }}">Properties</a>
</h1>
<form method="post" action="{{ url_for('.update_property', id=property.id) }}" class="form card">
{{ form.id }}
<div class="header">
    <div class="table">
        <div class="tr">
            <legend class="title td">Settings</legend>
        </div>
    </div>
</div>
<div class="body">
    <fieldset>
        <ul class="list">
            {{ render_field(form.property, autofocus="autofocus", placeholder=form.property.description) }}
        </ul>
    </fieldset>
</div>
<div class="footer">
    <div class="table">
        <div class="tr">
            <div class="actions td">
                <input class="button" type="submit" value="save">
                <a class="button" href="{{ url_for('.read_property', id=property.id) }}">cancel</a>
            </div>
        </div>
    </div>
</div>

</form>
<div style="margin:50px 0px;">
<a class="button alarm" href="{{ url_for('.delete_property', id=property.id )}}">delete this property</a>
</div> 
{% endblock %}
