
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1><a href="{{ url_for('.list_pages') }}">Pages</a></h1>

<form tekt-pattern="form" method="post" action="{{ url_for('.create_page') }}" tekt-part="card">
    <div tekt-pattern="table" class="header">
        <div class="tr">
            <legend class="title td">New</legend>
        </div>
    </div>
    <div class="body">
        <fieldset>
            <ul tekt-pattern="list">
                {{ render_field(form.page, autofocus='autofocus') }}
            </ul>
        </fieldset>
    </div>
    <div tekt-pattern="table" class="footer">
        <div class="tr">
            <div class="actions td">
                <input tekt-pattern="button" type="submit" value="save">
                <a tekt-pattern="button" href="{{ url_for('.list_pages') }}">cancel</a>
            </div>
        </div>
    </div>
</form>


{% endblock %}
