{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_pages') }}">Pages</a>
</h1>

<form method="post" action="{{ url_for('.create_page') }}">
    <legend class="title td">New</legend>
    <fieldset>
        <div class="field">
            {{ render_field(form.page, autofocus='autofocus') }}
        </div>
    </fieldset>
    <footer>

        <div class="actions td">
            <input class="button" type="submit" value="save">
            <a class="button" href="{{ url_for('.list_pages') }}">cancel</a>
        </div>
    </footer>
</form>

{% endblock %}
