{% extends 'template.html' %}
{% block body %}

<h1>
    <a black href="{{ url_for('.list_pages') }}">Pages</a>
</h1>

<div class="card">
    <header>
        <h2 class="title">{{pages|length}} of {{metadata.total_records}}</h2>
        <div class="actions">
            <a class="button" href="{{ url_for('.create_page') }}">new</a>
        </div>
    </header>
    <div class="content">
        <table class="data">
            <tr>
                <th>#</th>
                <th>page</th>
                <th>paths</th>
            </tr>
            {% for record in pages %}
            <tr>
                <td>{{record.id}}</td>
                <td><a black href="{{ url_for('.read_page', id=record.id) }}">{{record.page}}</a></td>
                <td>{{record.paths|length}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
