{% extends 'template.html' %}
{% block body %}

<h1><a href="{{ url_for('.list_pages') }}">Pages</a></h1>

<div class="card">
    <div class="header table">
        <div class="tr">
            <h2 class="title td">Current</h2>
            <div class="actions td">
                <a class="button" href="{{ url_for('.create_page') }}">new</a>
            </div>
        </div>
    </div>
    <ul>
        {% for record in pages %}
        <li><a href="{{ url_for('.read_page', id=record.id) }}">{{record.page}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}