
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1><a href="{{ url_for('.list_pages') }}">Pages</a></h1>
<div tekt-part="card">
    <div tekt-pattern="table" class="header">
        <div class="tr">
            <h2 class="title td">Details</h2>
            <div class="actions td">
                <a tekt-pattern="button" href="{{ url_for('.update_page', id=page.id )}}">settings</a>
            </div>
        </div>
    </div>
    <div class="body">
        <table tekt-pattern="table" class="data">
            <tr>
                <th>#</th>
                <th>page</th>
            </tr>
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.page }}</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
