
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_pages') }}">Pages</a>
</h1>
<div class="card">
    <header>
        <h2 class="title">{{ page.page }}</h2>
        <div class="actions">
            <a class="button" href="{{ url_for('.update_page', id=page.id )}}">settings</a>
        </div>
    </header>
    <div class="content">
        <table class="data">
            <tr>
                <th>#</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>page</th>
                <td>{{ page.page }}</td>
            </tr>
            <tr>
                <th>paths</th>
                <td>
                    {% for path in page.paths %}
                    <a href="{{ url_for('paths.page_schedule', id=path.id) }}">{{ path.path }}</a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
