{% from "macros/forms.html" import render_field %} 
{% extends 'template.focused.html' %} 

{% block body %}
<a tekt-pattern="button" tekt-id="close_iframe" class="tekt-float-right"><i class="fa fa-times"></i>close</a>

<form tekt-pattern="form" method="post" action="{{ url_for('.search_pages') }}" tekt-part="card">
    <div tekt-pattern="table" class="header">
        <div class="tr">
            <h2 class="title td">Search Pages</h2>
            <div class="actions td">
                {% if form.term.data != None %}{{ pages | length }} results for "{{form.term.data}}"{% endif %}
            </div>
        </div>
    </div>
    <div class="body">
        <fieldset>
            <ul tekt-pattern="list">
                {{ render_field(form.term, autofocus='autofocus', placeholder=form.term.description) }}
            </ul>
        </fieldset>
        <ul tekt-pattern="list">
            {% for record in pages %}
            <li><a class="item" tekt-key="{{record.id}}" tekt-val="{{record.page}}" href="{{ url_for('.read_page', id=record.id) }}">{{record.page}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div tekt-pattern="table" class="footer">
        <div class="tr">
            <div class="actions td">
                <input tekt-pattern="button" type="submit" value="search">
            </div>
        </div>
    </div>
</form>


{% endblock %}
