{% from "macros/forms.html" import render_field %} 
{% extends 'template.focused.html' %} 

{% block body %}
<a class="button close_iframe"><i class="fa fa-times"></i></a>

<form method="post" action="{{ url_for('.search_pages') }}" class="card">
    <div class="header table">
        <div class="tr">
            <h2 class="title td">Search Pages</h2>
            <div class="actions td">
                {% if form.term.data != None %}{{ pages | length }} results for "{{form.term.data}}"{% endif %}
            </div>
        </div>
    </div>
    <div class="body">
        <fieldset>
            <ul>
                {{ render_field(form.term, autofocus='autofocus', placeholder=form.term.description) }}
            </ul>
        </fieldset>
        <ul>
            {% for record in pages %}
            <li><a class="item" ark-key="{{record.id}}" ark-val="{{record.page}}" href="{{ url_for('.read_page', id=record.id) }}">{{record.page}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer table">
        <div class="tr">
            <div class="actions td">
                <input class="button" type="submit" value="search">
            </div>
        </div>
    </div>
</form>


{% endblock %}
