{% from "macros/forms.html" import render_field %} 
{% extends 'template.focused.html' %} 

{% block body %}
<a tekt-id="close_iframe" class="position-right button" style="margin-bottom:10px;">
    <i class="fa fa-times"></i>close
</a>

<form method="post" action="{{ url_for('.search_pages') }}">
    <legend>
        Search Pages
    </legend>
    <fieldset>
        <div class="field">
            {{ render_field(form.term, autofocus='autofocus', placeholder=form.term.description, show_label=False, show_description=False) }}
        </div>
    </fieldset>
    <footer>
        <input class="button" type="submit" value="search">
    </footer>
</form>

<div class="card">
    <header>
        <div class="title">
            {% if form.term.data != None %}{{ pages | length }} results for "{{form.term.data}}"{% endif %}
        </div>
    </header>
    <div class="content">
        <ul class="pick">
                {% for record in pages %}
                <li><a class=" item" tekt-key="{{record.id}}" tekt-val="{{record.page}}" href="{{ url_for('.read_page', id=record.id) }}">{{record.page}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}
