
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>
    <a black href="{{ url_for('.list_pages') }}">Pages</a>
</h1>

<form method="post" action="{{ url_for('.update_page', id=page.id) }}">
<legend>Settings</legend>
<fieldset>
    {{ form.id }}
    <div class="field">
        {{ render_field(form.page, autofocus="autofocus") }}
    </div>
</fieldset>
<footer>
    <div class="actions">
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('.list_pages') }}">cancel</a>
    </div>
</footer>
</form>

<div class="panel text-right">
    <a class="alarm button link" tekt-showhide="delete_form">delete</a>
</div>

<form method="post" tekt-id="delete_form" class="view-hidden" action="{{ url_for('.delete_page', id=page.id) }}">
    <legend>Delete Page</legend>
    <fieldset>
        {{ delete_form.phrase }}
        <div class="field">
            {{ delete_form.confirm(placeholder=form.page.data)|safe }}
            <label>{{ delete_form.confirm.description }}</label>
        </div>
    </fieldset>
    <footer>
    <div class="actions">
        <input class="button alarm" type="submit" value="confirm">
    </footer>
</form>

{% endblock %}
