
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>Page</h1>
<form method="post" action="{{ url_for('.update_page', id=page.id) }}">
    {{ form.id }}
    <legend>Edit</legend>
    {% if form.errors %}
    <div class="errors">Form contains errors. Please fix.</div>
    {% endif %}
    <fieldset>
        <ul>
            {{ render_field(form.page, autofocus="autofocus") }}
        </ul>
    </fieldset>
    <fieldset>
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('.list_pages') }}">cancel</a>
    </fieldset>
</form>
{% endblock %}