
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1><a href="{{ url_for('.list_pages') }}">Pages</a></h1>
<form method="post" action="{{ url_for('.update_page', id=page.id) }}" class="card">
    {{ form.id }}
<div class="header table">
    <div class="tr">
        <legend class="title td">Edit</legend>
    </div>
</div>
<div class="body">
    <fieldset>
        <ul>
            {{ render_field(form.page, autofocus="autofocus") }}
        </ul>
    </fieldset>
</div>
<div class="footer table">
    <div class="tr">
        <div class="actions td">
            <input class="button" type="submit" value="save">
            <a class="button" href="{{ url_for('.list_pages') }}">cancel</a>
        </div>
    </div>
</div>
</form>
{% endblock %}