[tekt-part="sign_in_form"] {
    margin:0 auto;
    max-width:300px;
    fieldset {
        li {
            background-color: transparent;
        }
    }
    input {
        @include rem(margin, 1, 0);
    }
    .button {
        border:1px solid lighten($primary, 20);
        color:$primary;
        display: inline-block;
        &:hover {
            border:1px solid $white;
        }
    }
    a {
        border:0px;
        color: $white;
        opacity:0.2;
        margin:0;
        padding:0;
        text-indent: 0;
        &:hover {
            transition: all 1s ease;
            opacity:1;
        }
    }
}
