#logo {
    @include rem(font-size, 3);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    &.large{
        @include rem(font-size, 10);
    }
    &:hover {
        border:0;
        text-decoration: none;
    }
}
