#menu {

    background-color: $black;
    margin:0;
    min-width: 200px;
    padding:0;
    text-align: right;
    width:200px;
    .item {
        height: 40px;
        line-height: 40px;
        @include rem(font-size, 1.2);
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color:darken($white, 50);
        &.current,
        &:hover  {
            color:$white;
            background-color: transparent;
        }
        .td {
            vertical-align: middle;
        }
        .td:nth-child(odd) {
            text-indent: 0px;
        }
        .td:nth-child(even) {
            width:50px;
            text-align: center;
            @include rem(font-size, 1.8);
        }
    }

    .sub {
        border-top:1px solid lighten($black, 10);
    }

    &.collapsed {
        transition: all 0.5s ease;
        min-width: 50px;
        width:50px;
        .td:nth-child(odd) {
            text-indent: -150px;
        }
    }

}
