#menu {
    margin:0;
    padding:0;
    text-align: right;
    width:200px;
    min-width: 200px;
    .tr {
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        .td {
            vertical-align: middle;
        }
        .td:nth-child(even) {
            width:50px;
            text-align: center;
        }
    }
    &.collapsed {
        min-width: 50px;
        width:50px;
        .td:nth-child(odd) {
            display:none;
        }
    }
}