[ark-selector] {
    cursor: pointer;
}

[ark-selector-iframe] {
    width:100%;
    height: 100%;
    background: $white;
    position: fixed;
    z-index: 1000;
}

// special buttons
button, .button {
    &.close_iframe {
        position: fixed;
        top:0;
        right:0;
        @include rem(font-size, 2);
        border:0px;
        box-shadow:none;
    }
}
