<div class="table">
  <a href="#" id="menu-toggle" class="tr">
      <span class="td"></span>
      <i class="td fa fa-bars"></i>
  </a>
  <a class="tr" href="{{ url_for('main.dashboard') }}">
    <span class="td">ARK</span>
    <span class="td glyphicon glyphicon-dashboard"></span>
  </a>
  <a class="tr" href="{{ url_for('properties.list_properties') }}">
    <span class="td">Properties</span>
    <span class="td glyphicon glyphicon-tree-conifer"></span>
  </a>
  <a class="tr" href="{{ url_for('paths.list_paths') }}">
    <span class="td">Paths</span>
    <span class="td glyphicon glyphicon-random"></span>
  </a>
  <a class="tr" href="{{ url_for('pages.list_pages') }}">
    <span class="td">Pages</span>
    <span class="td glyphicon glyphicon-asterisk"></span>
  </a>
</div>