{% from "macros/menus.html" import render_menu_link %} 

<div class="table">
  {{ render_menu_link(id='menu-toggle', icon='fa fa-bars') }}
  {{ render_menu_link(text='ARK', link='main.dashboard', icon='glyphicon glyphicon-dashboard') }}
  {{ render_menu_link(text='Properties', link='properties.list_properties', icon='glyphicon glyphicon-tree-conifer') }}
  {{ render_menu_link(text='Paths', link='paths.list_paths', icon='glyphicon glyphicon-random') }}
  {{ render_menu_link(text='Pages', link='pages.list_pages', icon='fa fa-file-o') }}
</div>