{% extends "template.html" %}

{% block title %}
Pages
{% endblock %}

{% block body %}
<h1>Pages</h1>

<form method="POST" action="{{ url_for('.list_pages') }}">
    {{ form.csrf_token }}

    {% if form.page.errors %}
        <ul class="errors">{% for error in form.page.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    {{ form.page.label }} {{ form.page(size=20, placeholder="aboutus") }}
    <input type="submit" value="Go">
</form>

<ul id="pages">

    {% for page in pages %}
    <li>
        <a href="{{ url_for('.read_page', id=page.id) }}">{{ page.page }}</a>
        <a href="{{ url_for('.delete_page', id=page.id) }}">Delete</a>
    </li>
    {% endfor %}

</ul>

{% endblock %}