{% extends "template.html" %} {% block title %} Paths {% endblock %} {% block body %}
<h1>Paths</h1>

<form method="POST" action="{{ url_for('.list_paths') }}">
    {{ form.csrf_token }}

    <ol>
        <li>
            {% if form.property.errors %}
            <ul class="errors">{% for error in form.property.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>{% endif %} {{ form.property.label }} {{ form.property }}
        </li>
        <li>
            {% if form.path.errors %}
            <ul class="errors">{% for error in form.path.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>{% endif %} {{ form.path.label }} {{ form.path(size=20, placeholder="/aboutus") }}
        </li>
    </ol>
    <input type="submit" value="Go">
</form>

<ul id="paths">

    {% for path in paths %}
    <li>
        <a href="{{ url_for('.read_update_property', id=path.property.id) }}">{{ path.property.property }}</a>
        <a href="{{ url_for('.read_path', id=path.id) }}">{{ path.path }}</a>
        <a href="{{ url_for('.delete_path', id=path.id) }}">Delete</a>
    </li>
    {% endfor %}

</ul>

{% endblock %}