{% extends 'template.focused.html' %}
{% block page_scripts %}
<script src="/static/vendor/scripts/kss.js"></script>
<script src="/static/vendor/scripts/highlight.pack.js"></script>
<script>
    var patterns = function(){
        TEKT.errors.autoscroll_enabled = false;
    };
    $(document).ready(patterns);
</script>
<script>
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="/static/vendor/styles/monokai.css">
    <style>
        .example {
            padding:20px 40px;
        }
    </style>
{% endblock %}
{% block body %}

<h1 id="toc">Patterns</h1>

<ul class="toc">
    <li><a href="#libraries">Libraries</a></li>
    <li><a href="#components">Components</a></li>
</ul>

<div id="libraries" class="card">
    <header>
        <div class="title">
            Libraries
        </div>
    </header>
    <div class="content">
        <table class="data">
            <tr>
                <th>File</th>
                <th>Purpose</th>
            </tr>
            <tr>
                <td>_colorizing.scss</td>
                <td>Control colors</td>
            </tr>
            <tr>
                <td>_dimensioning.scss</td>
                <td>Control dimensions</td>
            </tr>
            <tr>
                <td>_normalizing.scss</td>
                <td>Control normalization</td>
            </tr>
            <tr>
                <td>_positioning.scss</td>
                <td>Control positioning</td>
            </tr>
            <tr>
                <td>_treatements.scss</td>
                <td>Control visual treatments</td>
            </tr>
            <tr>
                <td>_viewing.scss</td>
                <td>Control viewability</td>
            </tr>
        </table>
    </div>
</div>

<div id="components" class="card">
    <header>
        <div class="title">
            Components
        </div>
    </header>
    <div class="content">
        <ul class="pick">
        {% for section in components.sections|sort %}
            <li>
                <a href="#{{ components.section(section)._reference }}">
                    {{ components.section(section)._reference }} - {{ components.section(section)._description }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% for section in libs.sections|sort %}

    <div class="card" id="{{ libs.section(section)._reference }}">

        <header>
            <div class="title">
                {{ libs.section(section)._reference }}
                {{ libs.section(section)._description }}
            </div>
            <div class="actions">
                {{ libs.section(section).filename }}
            </div>
        </header>
        <div class="content">
        {% for modifier in libs.section(section).modifiers %}
            <div class="example">
                {% if modifier.name != '.' %}
                <div>{{ modifier.name }}</div>
                {% endif %}
                <div class="subdue">{{ modifier.description }}</div>
                {% if modifier.example %}
                <pre><code class="html">{{ modifier.example }}</code></pre>
                <div>{{ modifier.example|safe }}</div>
                {% else %}
                <pre><code class="html"><div>no example</div></code></pre>
                {% endif %}
            </div>
        {% endfor %}
        {% if not libs.section(section).modifiers %}
        <div class="example">
            no example
        </div>
        {% endif %}
        </div>
        <footer>
            <div class="actions"><a href="#toc" class="position-right button link">top</a></div>
        </footer>
    </div>

{% endfor %}


{% for section in components.sections|sort %}

    <div class="card" id="{{ components.section(section)._reference }}">

        <header>
            <div class="title">
                {{ components.section(section)._reference }}
                {{ components.section(section)._description }}
            </div>
            <div class="actions">
                {{ components.section(section).filename }}
            </div>
        </header>
        <div class="content">
        {% for modifier in components.section(section).modifiers %}
            <div class="example">
                {% if modifier.name != '.' %}
                <div>{{ modifier.name }}</div>
                {% endif %}
                <div class="subdue">{{ modifier.description }}</div>
                {% if modifier.example %}
                <pre><code class="html">{{ modifier.example }}</code></pre>
                <div>{{ modifier.example|safe }}</div>
                {% else %}
                <pre><code class="html"><div>no example</div></code></pre>
                {% endif %}
            </div>
        {% endfor %}
        {% if not components.section(section).modifiers %}
        <div class="example">
            no example
        </div>
        {% endif %}
        </div>
        <footer>
            <div class="actions"><a href="#toc" class="position-right button link">top</a></div>
        </footer>
    </div>

{% endfor %}

{% endblock %}
