
{% from "macros/forms.html" import render_field %} 
{% extends 'template.html' %} 

{% block body %}
<h1>Update Property</h1>
<form method="post" action="{{ url_for('.update_property', id=property.id) }}">
    {{ form.id }}
    <fieldset>
        <legend>Update Property</legend>
        <ul>
            {{ render_field(form.property) }}
        </ul>
    </fieldset>
    <fieldset>
        <input class="button" type="submit" value="save">
        <a class="button" href="{{ url_for('.properties') }}">cancel</a>
    </fieldset>
</form>
{% endblock %}