<!DOCTYPE html>
<html> 
    <head>
        
        <title>{% block title %}ARK{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/styles.min.css') }}" />
        {% endblock %}

    </head>

    <body>
        
        {% include 'parts/menu.html' %}

        <div id="body">
            {% block body %}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="{{ url_for('static', filename='assets/vendor.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/scripts.min.js') }}"></script>
            {% if config.DEBUG %}<script src="//localhost:35729/livereload.js"></script>{% endif %}
        {% endblock %}
        {% block page_scripts %}{% endblock %}

    </body>
</html>