<!DOCTYPE html>
<html> 
    <head>
        
        <title>{% block title %}TEKT{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/styles.min.css') }}" />
        {% endblock %}

    </head>

    <body>
        <div class="body">
            <a class="scroll-to-top" tekt-scroller="top=0" tekt-fixate>
                top <i class="fa fa-chevron-up"></i>
            </a>
            <div class="template" tekt-type="main">
                <div class="regions header">
                    <div class="region logo">
                        <a href="{{ url_for('main.dashboard') }}" id="logo" class="fa fa-play animated fadeIn "></a>
                    </div>
                    <div class="region quick_menu">
                        <a href="{{ url_for('main.primers') }}" class="button link"><span class="fa fa-question"></span></a>
                    </div>
                </div>
                <div class="regions">
                    <div class="region left {{ g.template['menu-toggle'] }}">
                        {% include 'menu.html' %}
                    </div>
                    <div class="region right">
                        {% include 'messenger.html' %}
                        <div class="page">{% block body %}{% endblock %}</div>
                    </div>
                </div>
            </div>
        </div>

        {% block scripts %}
            <script src="{{ url_for('static', filename='assets/vendor.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/scripts.min.js') }}"></script>
            {% if config.DEBUG %}<script src="//localhost:35729/livereload.js"></script>{% endif %}
        {% endblock %}
        {% block page_scripts %}{% endblock %}

    </body>
</html>
