<!DOCTYPE html>
<html> 
    <head>
        
        <title>{% block title %}ARK{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/vendor.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/styles.min.css') }}" />
        {% endblock %}

    </head>

    <body>
        {% set menu_is_collapsed = True if request.cookies.get('ARK.menu-toggle') == 'true' else False %}
        {% set menu_collapsed_class = 'collapsed' if menu_is_collapsed else '' %}
        {% set menu_collapsed_arrow_class = 'fa fa-chevron-right' if menu_is_collapsed else 'fa fa-chevron-left' %}
        <a id="top">top <i class="fa fa-chevron-up"></i></a>
        <div id="layout" class="table">
            <div class="tr">
                <div id="menu" class="td {{menu_collapsed_class}}">
                    {% include 'menu.html' %}
                </div>
                <div id="content" class="td">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div ark-messenger="flash">
                            <ul class=flashes>
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% endwith %}
                    <div id="header">{% include 'header.html' %}</div>
                    <div id="body">{% block body %}{% endblock %}</div>
                </div>
            </div>
        </div>

        {% block scripts %}
            <script src="{{ url_for('static', filename='assets/vendor.min.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/scripts.min.js') }}"></script>
            {% if config.DEBUG %}<script src="//localhost:35729/livereload.js"></script>{% endif %}
        {% endblock %}
        {% block page_scripts %}{% endblock %}

    </body>
</html>